POSTGRES_DB=barrioAhorro
POSTGRES_USER=barrioAhorro
POSTGRES_PASSWORD=admin
POSTGRES_PORT=5432

DB_HOST=localhost
DB_PORT=5432

JWT_SECRET=LHLlYFSJj7UMTppjPEQNk1sFVNxOjM23ii0S-EU-hqtijbuPT6Bfcd90WZV3R1RA
JWT_EXPIRATION_MINUTES=1440
SERVER_PORT=8080
